# Pastas
__pycache__/
.venv
.vscode/
build/
dist/
main/

# Arquivos de configuração local
.env

# Executáveis
*.exe

# Logs
*.log

# Planilhas de resultados
*.xlsx

# Outros arquivos temporários
*.pyc
*.pyo

# Outros/testes
tests/
